

.movieCard{
    background-color: "black";
     color: "white";
     width: '220px';
      margin: "10px";
}

.color-nav{
    background-color:black ;

}

.color-nav .text-nav{
    color: #ec0814;
    font-size: 20px;
}