$body-bg: #530f0f;
$color: rgb(250, 247, 247);

@import '~bootstrap/scss/bootstrap.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.color-nav {
    background-color: black;

    .text-nav {
        color: #ebe8e8;
        font-size: 18px;
        margin-left: 20px;
    }
}

.movieDescriptionHeader {
    span {
        color: #f4f4ee;
        font-size: 21px;

    }

    color: #e4d7d7;

    font-size: 18px;
}

.signIn {
    color: #ebe8e8;
}

.logIn {
    color: #ebe8e8;
    display: flex;
    justify-content: space-around;
}

.wrapper {
    height: 100vh;
}

.movieView {
    max-width: 50rem
}

.movieCard {
    width: 15rem;
    height: 16rem;
}

.bg-gray {
    background-color: rgb(218, 221, 221);
    border: none;
    margin-top: 10px;

}

.focus-white:focus {
    background-color: #ffffff;
}

.login-card {
    max-width: 600px;
    width: 100%;
    background-color: #808080;
}

.fontsize {
    font-size: 20px;
}